<h1><%= heading %> </h1>
<p><%= text %> </p>
<h2>Employee Information</h2>

  <div>Name : <%= empData.fname%></div>
  <div>email: <%= empData.email%></div>
  <div>branch : <%= empData.branch.title%></div>
  <div>city: <%= empData.city%></div>
<h2>Device Information</h2>

  <div>Brand : <%= deviceData.Brand%></div>
  <div>Model_No: <%= deviceData.Model_No%></div>
  <div>OS_Version: <%= deviceData.OS_Version%></div>
  <div>Resolution: <%= deviceData.Resolution%></div>
  <div>Issued on : <%= date%></div>
  
  
 
 