<h1><%= heading %> </h1>
<p><%= text %> </p>

<h3>Employee Information</h3>

  <div>Name : <%= empData.fname%></div>
  <div>email: <%= empData.email%></div>
  <div>branch : <%= empData.branch.title%></div>
  <div>city: <%= empData.city%></div>
<h3>Device Information</h3>

  <div>Brand : <%= deviceData.Brand%></div>
  <div>Model_No: <%= deviceData.Model_No%></div>
  <div>OS_Version: <%= deviceData.OS_Version%></div>
  <div>Resolution: <%= deviceData.Resolution%></div>
  <div>Return on : <%= date%></div>
 
 